# ======================
# Misc
# ======================
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/

# ======================
# IDE
# ======================
*.iml
*.ipr
*.iws
.idea/
.vscode/

# ======================
# Flutter / Dart
# ======================
.dart_tool/
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/

# ======================
# Android
# ======================
android/.gradle/
android/app/build/
android/app/debug
android/app/profile
android/app/release

# ======================
# iOS
# ======================
ios/Pods/
ios/Runner.xcworkspace/
**/ios/Flutter/.last_build_id

# ======================
# Optional Platforms (ignore if not used)
# ======================
linux/
macos/
windows/
web/

# ======================
# Obfuscation / Symbols
# ======================
app.*.symbols
app.*.map.json